$bg: rgb(252, 241, 142);
$break: rgb(198, 227, 152);
$vert: rgb(185, 63, 39);
$bg-header: rgb(43, 43, 43);

.home {
    background-color: $bg;
    height: 100%;
    width: 100%;
    position:absolute;

    .notepadHeader {
        background-color: $bg-header;
        width: 100%;
        height: 50px;
    }

    .vert {
        position: absolute;
        width: 5px;
        left:10%;
        top:0;
        bottom:0;
        border-left: 1px solid $vert;
        border-right: 1px solid $vert;
    }

    .todoList {
        list-style: none;
        background: linear-gradient(#6496b9, #E1E9A0 3px);
        background-size: 1px 30px;
        width: 100%;

        li {
            line-height: 30px;
            position: relative;
            margin-left: 10%;

            .inputGroup {
                display: flex;
            }
            .todoGroup {
                display: flex;
            }
        }
    }
}

.break {
    background-color: $break;
}
