<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'app/app' %>
    <%= stylesheet_pack_tag 'app/main' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
